[submodule "external/Utf8StringInterpolation"]
	path = external/Utf8StringInterpolation
	url = https://github.com/Cysharp/Utf8StringInterpolation
	branch = main
[submodule "external/ZString"]
	path = external/ZString
	url = https://github.com/Cysharp/ZString
	branch = master
[submodule "external/cimgui"]
	path = external/cimgui
	url = https://github.com/BUTR/cimgui-custom
	branch = docking_inter_custom
